# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Environnements virtuels
.env/
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# MacOS/Linux
.DS_Store

# Playwright
playwright/.cache/